.searchWrapper {
  display: flex;
  row-gap: 1px;
  flex-direction: column;
  color: black;
}

.searchText {
  font-size: 18px;
  margin: 0;
}

.inputText {
  width: 340px;
  padding: 4px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 3px;
}
